﻿<div class="jumbotron">
    <h1>BOR Dashboard APIs</h1>
    <p class="lead">The set of APIs to provide data to UIs for Dashbaord Summaries</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Introduction</h2>
        <p>Introductory Note</p>
    </div>
    <div class="col-md-4">
        <h2>Help</h2>
        <p>Help for Developers</p>
    </div>
    
</div>
